/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e2f;
    padding: 15px 50px;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00bcd4;
}

/* Hero Section */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #4e73df, #1cc88a);
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    padding: 12px 25px;
    border: none;
    background-color: white;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #f8f9fc;
}

.footer{
    background-color: #1e1e2f;
    text-align: center;
    color:white;
    font-weight: bold;
    padding: 10px 0;
}

/* Page Section */
.page-section {
    padding: 80px 20px;
    text-align: center;
}

.page-section h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

.page-section p {
    margin-bottom: 20px;
    color: #555;
}

/* Cards */
.card {
    background: #f4f4f4;
    padding: 20px;
    margin: 15px auto;
    max-width: 500px;
    border-radius: 8px;
}

/* Contact Form */
.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form button {
    align-self: center;
}